<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cassava Leaf Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cassava Leaf Disease Detection</h1>
        <form action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Predict</button>
        </form>
        {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
        <h3>Uploaded Image:</h3>
        <img src="{{ url_for('static', filename='uploads/' + image_path.split('/')[-1]) }}" alt="Uploaded Image" style="max-width: 400px;">
    {% endif %}
    </div>
</body>
</html>
